*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;

}

.header{

    background-color: #ffdbb1;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;


}

nav h2{
    font-size: 45px;
}


ul{
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    width: 25%;
    

}


ul li{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
color: black;
font-weight: 600;
font-size: 18px;

}



