*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;

}

.header{

    background-color: #fff2e3;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;


}

nav h2{
    font-size: 45px;
}


ul{
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    width: 25%;
    

}


ul li{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
color: black;
font-weight: 600;
font-size: 18px;

}

.content1{
    text-align: center;
    margin: 50px auto 25px auto;

}

.content1 h1{
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
    padding-bottom: 20px;

}

.content1 p{
    color: gray;
    padding-bottom: 20px;
}

.content1 .primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
}

.header img{
    margin: 0px 240px 45px 240px;
}

.section2{
    display: flex;
    align-items: center;
    margin: 100px 300px 100px 300px;
    gap: 100px;
}

.section2 .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    }

.section2 .content2 h2{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;

}

.section2 .content2 h2 .q{
    color: gray;
}

.section2 .content2 h2 .f{
    color:#FF900E
}

.section2 .content2 p{
    color: gray;
     padding-bottom: 10px;
     line-height: 22px;
}

.section2 .content2 .aprimary-btn{
    background-color: #FF900E;
color: white;
padding: 20px 30px;
border-radius: 8px;
margin-bottom: 20px;
border: none;
}

.third-section{
    display: flex;
    gap: 200px;
    margin: 40px 200px;

}

.card-container .content3 h1{
    font-size: 54px;
    font-weight: bold;
    border-left: 10px solid #FF900E;
    padding-left: 20px;
    padding-bottom: 10px;

}
.card-container .content3 p{
    margin-top: 20px;
    color: gray;
    line-height: 20px;
    margin-bottom: 20px;

}

.card-container .content3 .card{
    height: 140px;
    width: 580px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgb(207, 207, 207);
    margin-bottom: 15px;
    padding: 30px 10px 5px 35px;

    
}

.card-container .content3 .card h4{
    font-size: 20px;
}

.Architects button{
    padding: 45px 42px;
    background-color: #FF900E;
    color: white;
    border-radius: 6px;
    border: none;
    margin-top: -110px;
    margin-left: -90px;

}

.Architects button h1{
    font-size: 65px;
}

.Architects button h4{
    font-size: 25px;
}

.fourth .fact{
    margin-left: 150px;
}




.fourth .fact h3{

    font-size: 45px;
    font-weight: bold;

}

.fourth .fact p{
    color: gray;
    line-height: 25px;

}

.grid-container{
    display: flex;
    
   
   
    gap: 130px;
    margin: 45px 200px 40px 200px;
    
    
}

.grid-container .cards{
    height: 180px;
    width: 250px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 80px 50px 35px 42px;   
    text-align: center;
    

   

}

.grid-container .cards h3{
    font-size: 45px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;

}

.grid-container .cards p{
    font-size: 20px;
    font-weight: 500;

}

footer{
    text-align: center;
    margin-top: 82px;

}
footer h2{
    font-size: 45px;
    font-weight: bold;

}

footer p{
    font-size: 20px;
    line-height: 35px;
    color: gray;
    
}

footer .img-container{
        display: flex;
        gap:125px;
        
        
}

footer .img-container img{
    filter: grayscale(100%);
     margin: 40px auto;
 
}

footer .copy{
    width: 1440px;
    height: 70px;
    background-color: #FFF4E7;
    text-align: center;
    margin: 85px auto;
    padding-top: 29px;
    border-radius: 16px;
}






